<!doctype html>
<html lang="pt-br">

<head>
  <base href="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <meta charset="UTF-8">
  <title>RKS Controller - Administrativo</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bootstrap/5/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Offcanvas/dmxBootstrap5Offcanvas.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Theme/dmxBootstrap5Theme.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
</head>

<body is="dmx-app" id="administrador" class="bg-light">
  <dmx-notifications id="notificacoes" show-duration="800"></dmx-notifications>
  <div is="dmx-browser" id="navegacao"></div>
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-2 p-3 bg-dark">
        <div class="nav w-100 flex-column">
          <a class="nav-item nav-link text-white" href="/adm/security/" internal="true">Inicial</a>
          <a class="nav-item nav-link text-white" href="/adm/security/empresas" internal="true">Cadastrar empresa</a>
          <a class="nav-item nav-link text-white" href="#">Cadastrar colaboradores</a>
          <a class="nav-item nav-link text-white" href="#">Cadastrar Departamentos</a>
        </div>
      </div>
      <div class="col p-3">
        <main is="dmx-view" id="content" class="p-0">
          <%- await include(content, locals); %>
        </main>
      </div>
    </div>
  </div>

  <script src="/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>

</html>