<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="competencias" appConnect="local" -->
<div class="container-fluid p-0">
    <div class="row align-items-center">
        <div class="col">
            <h4 class="m-0">Competências</h4>
        </div>
        <div class="col text-end">
            <button id="btn1" class="btn btn-light">Button</button>
        </div>
    </div>
</div>
<meta name="ac:route" content="/in/security/backoffice/gastos/competencias">